.generatorWrapper {
  margin-top: 30px;
  .buttonsWrapper {
    margin-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    border-bottom: 1px solid $green;
  }
  .rangeWrapper {
    max-width: 200px;
  }
  .lengthWrapper {
    margin-top: 16px;
    padding-bottom: 16px;
    display: grid;
    border-bottom: 1px solid #2f8883;
    grid-template-columns: 100px 1fr 50px;
    align-items: center;

    .lengthText {
      color: $green;
    }
  }
}
