.authWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
.loginTitle {
  margin-bottom: 24px;
}
.authForm {
  width: 100%;
  max-width: 90%;
  margin-bottom: 32px;
}
.authCheckbox {
  margin-bottom: 16px;
}
.registrationTitle {
  text-decoration: none;
  color: $textColor;
  cursor: pointer;
}
