$gray100: #0e0e12;
$gray80: #1c1c23;
$gray70: #353542;
$gray60: #4e4e61;
$gray50: #666680;
$gray40: #83839c;
$gray30: #a2a2b5;
$gray20: #c1c1cd;
$gray10: #e0e0e6;
$white: #ffffff;

$primary100: #5e00f5;
$primary50: #7722ff;
$primary20: #924eff;
$primary10: #ad7bff;
$primary05: #c9a7ff;
$primary0: #e4d3ff;

$accentP100: #ff7966;
$accentP50: #ffa699;
$accentP0: #ffd2cc; 

$acceptS100: #00fad9;
$acceptS50: #7DFFEE;
