$green: #2f8883;
$green40: #95b0af;
$textColor: #000000;
$textColor25: rgba(0, 0, 0, 0.25);
$red: #ef4747;
$error: #c51c1c;
$gray: #c5c1c1;
$hover: #35c3a9;

$menuHeight: 58px;

@mixin strongHeight($size) {
  height: $size;
  min-height: $size;
  max-height: $size;
}
@mixin strongWidth($size) {
  width: $size;
  min-width: $size;
  max-width: $size;
}

@mixin textClipping() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
