.passwordWrapper {
  height: auto;
  width: auto;
  position: relative;
  margin-bottom: 20px;
  .passwordInfo {
    height: 123px;
    width: 100%;
    border: 1px solid $green;
    border-radius: 10px;
    padding: 15px;
    overflow-y: scroll;

    .value {
      overflow-wrap: break-word;
    }
  }
  .errorMessage {
    position: absolute;
    bottom: -20px;
    left: 15px;
    color: $error;
    font-weight: 600;
  }
}
