@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
  }
}

.passwordWrapper {
  height: auto;
  width: auto;
  position: relative;
  margin-bottom: 20px;
  .passwordInfo {
    height: 123px;
    width: 100%;
    border: 1px solid $green;
    border-radius: 10px;
    padding: 15px;
    overflow-y: scroll;
    .textWrapper {
      white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
      white-space: -pre-wrap; /* Opera 4-6 */
      white-space: -o-pre-wrap; /* Opera 7 */
      white-space: pre-wrap; /* css-3 */
      word-wrap: break-word; /* Internet Explorer 5.5+ */
      white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
      word-break: break-all;
      white-space: normal;

      text-shadow: 1px 3px 2px rgb(0 0 0 / 30%);

      animation-name: bounce;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
    }
    .value {
      display: inline-block;

      &.isSymbol {
        color: $green;
      }
      &.isNumber {
        color: $red;
      }
      &.isLetter,
      &.defaultText {
        color: $textColor;
      }
    }
  }
  .errorMessage {
    position: absolute;
    bottom: -20px;
    left: 15px;
    color: $error;
    font-weight: 600;
  }
}
