.collectionWrapper {
  max-width: 345px;
  display: grid;
  grid-template-columns: 4.5fr 2.5fr 2fr;
  align-items: center;
  padding: 16px 0;
  .coverWrapper {
    overflow: hidden;
    border-radius: 12px;
    max-height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    .cover {
      max-width: 100%;
      object-fit: cover;
      object-position: center;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;

      -webkit-box-shadow: 0px 8px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0px 8px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 8px 8px 0px rgba(34, 60, 80, 0.2);

      &:hover {
        transform: scale(1.2);
        transition: all 0.25s linear;
        cursor: pointer;
      }
    }
  }
  .collectionTitle {
    a {
      text-decoration: none;
      cursor: pointer;
      color: $textColor;
      transition: color 0.24s;
      &:hover {
        color: $hover;
        transition: color 0.24s;
      }
    }
  }
  .infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    .collectionCount {
      color: $green;
      font-size: 37px;
      line-height: 1.8;
    }
  }
  .viewAllText {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: flex-end;
    height: 100%;
    padding: 10px 0;

    transition: color 0.24s;

    a {
      cursor: pointer;
      text-decoration: none;
      color: $textColor;
      transition: color 0.24s;
      &:hover {
        color: $hover;
        transition: color 0.24s;
      }
    }
  }
}

.collectionWrapper + .collectionWrapper {
  border-top: 1px solid $green;
}
