.observeItemWrapper {
  background: rgb(35, 198, 168);
  border-radius: 8px;
  padding: 16px 8px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .titleWrapper {
      color: $textColor;
    }
    .countWrapper {
      color: white;
    }
  }
  &:last-child {
    margin-bottom: 16px;
  }
  .titleWrapper {
    margin-bottom: 12px;
    margin-left: 4px;
  }
}
.observeItemWrapper + .observeItemWrapper {
  margin-top: 12px;
}
